 
  .demo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .demo__item {
    background-color: #fff;
    color: #000;
    width: 240px;
    height: 240px;
    margin-right: 10px;
    margin-top: 10px;
    position: relative;
    border-radius: 4px;
    background-size: cover;
    overflow: hidden;
  }
  
  .demo__item:nth-of-type(2n) {
    margin-right: 0;
  }
  
  .demo__item:first-of-type, .demo__item:nth-of-type(2) {
    margin-top: 0;
  }
  
  .demo__item-title {
    width: 158px;
    position: absolute;
    bottom: 15px;
    left: 15px;
    margin: 0;
    line-height: 30px;
    font-size: 30px;
    font-weight: normal;
  }
  
  .demo__item-subtitle {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-left: 16px;
    width: 158px;
    font-weight: normal;
  }
  
  .demo__item-subtitle_character_cherry-peach-ade {
    position: absolute;
    top: 24px;
    left: 16px;
    margin: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .demo__wrapper {
    height: 100%;
    width: 100%;
    background-size: cover;
  }
  
  .demo__wrapper_character_cherry-peach-ade {
    background-image: url("../images/2DFE3D5B-87B5-4E40-A8B7-CB267D292346.PNG");
    transition: transform 0.9s ease-in-out;
  }
  
  .demo__item:hover .demo__wrapper_character_cherry-peach-ade {
    transform: scale(1.05);
  }
  
  .demo__item:hover .demo__item-subtitle_character_cherry-peach-ade {
    opacity: 1;
  }
  .demo__item_character_blue-razz {
    background-image: url("../images/6E0D06D8-59FA-4DDB-B64C-EF63B3D3F737.PNG");
    transition: transform;
    background-size: 200px 200px;
    background-position: center;
  }
  
  @keyframes pulse {
    from {
       transform: scale(1);
    }
    to {
      transform: scale(1.1);
    }
  }
  
  .demo__item_character_straw-guaw {
    background-image: url("../images/663E4286-E247-48BA-B0C2-C61CF7AA8869.PNG");
    background-size: 200px 200px;
    background-position: center;
  }
  
  @keyframes countdown {
    0% {
      content: '3';
    }
    50% {
      content: '2';
    }
    100% {
      content: '1';
  }
    
  }
  
  .demo__item_character_blueberry-ice {
    background-image: url("../images/9B1889F7-0ECB-4514-9071-E4E85460212E.PNG");
    transition: box-shadow 0.3s ease;
  }
  
  .demo__item_character_blueberry-ice:hover {
    box-shadow: 0 0 20px #4E52B0;
  }
  
  .demo__item_character_grape-aloe {
    background-image: url("../images/545EEB49-F8E1-488D-80BB-DAA11A39D894.PNG");
    transition: box-shadow 0.3s ease;
    background-size: 200px 200px;
    background-position: center;
  }
  
  .demo__item_character_grape-aloe:hover {
    box-shadow: 0 0 20px #a15ed5;
  }

  .demo__item_character_trapple {
    background-image: url("../images/A13251E5-F1E6-4193-9EF4-C48B1B5BA52A.PNG");
    transition: box-shadow 0.3s ease;
    background-size: 200px 200px;
    background-position: center;
  }
  
  .demo__item_character_trapple:hover {
    box-shadow: 0 0 20px #e00f0f;
  }

  .demo__item_character_nanaberry {
    background-image: url("../images/78E9F061-65FB-444F-8048-9267E21E0B22.PNG");
    transition: box-shadow 0.3s ease;
    background-size: 200px 200px;
    background-position: center;
  }
  
  .demo__item_character_nanaberry:hover {
    box-shadow: 0 0 20px #dbf041;
  }

  .demo__item_character_vapor-store {
    background-image: url("../images/BA26803D-0CE2-42A5-B46F-979C6F916C79.PNG");
  }

  .demo__item-ico {
    position: absolute;
    top: 24px;
    right: 16px;
    width: 40px;
    animation: pulse 1s ease-in-out infinite alternate;
  }
  
  .demo__item-subtitle_character_straw-guaw::after {
    content: '3';
    position: absolute;
    top: 35px;
    right: 15px;
    font-size: 72px;
  }
  
  .demo__item:hover .demo__item-subtitle_character_straw-guaw::after {
    animation: countdown 2s linear forwards;
  }