.gallery {
    max-width: 880px;
    margin: 0 auto;
 }

.gallery__title {
    max-width: 880px;
    margin: 60px auto 80px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 1.2;
    text-align: center;
    color: #fff;
}

.gallery__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, 282px);
    list-style-type: none;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px 17px;
    padding: 0;
    margin: 0 auto;
}

@media screen and (max-width: 320px) and (max-width: 768px) {
.gallery {
    margin-top: 0;
}
.gallery__cards {
    width: calc(100% - 40px);
    }
.gallery__title {
        max-width: 768px;
        margin: 50px 20px 60px;
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 1.5;
        color: #fff;
} 
    
}