.note {
 display: flex;
 flex-direction: column;
 max-width: 880px;
 margin: 0 auto;
 border-top: 1px solid rgba(84, 84, 84, 0.5);
 border-bottom: 1px solid rgba(84, 84, 84, 0.5);
}

.note__description {
    max-width: 880px;
    margin: 18px auto;
    font-family:'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    color:#848484;
    text-transform: lowercase;
}

.note__span-accent {
    max-width: 318px;
    margin: 0;
    font-family:'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    color: #f60303;
  }
