.profile {
 max-width: 880px;
 display: flex;
 margin: 0 auto;
 flex-direction: row;
}

.profile__column_content_social-icons {
   display: flex;
   flex-direction: column;
   margin: 30px auto auto 0;
   padding-left: 0;
}

.profile__column_social-heading {
  max-width: 180px;
  margin: 30px auto auto 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 1.3;
  color: #fff;
  padding-left: 20px;
}

.profile__column-heading {
  max-width: 180px;
  margin: 30px auto auto 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  color: #fff;
  padding-left: 40px;
}

.profile__list-icon {
  display: flex;
  flex-direction: row;
  margin: 30px auto auto 0;
  padding-left: 20px;
}

.profile__list-item {
  margin: 0 20px auto 0;
  list-style-type: none;
}

.profile__column_link {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #fff;
  text-decoration: none;
}

.profile__list-item:last-child {
  margin: 0 20px auto 0;
  list-style-type: none;
}

.profile__social-icon {
  width: 25px;
  height: 25px;
  margin: 0 auto;
  background-position: center;
  }

.profile__column_content_info {
  max-width: 180px;
  display: flex;
  flex-direction: column;
  margin: 30px auto 40px 0;
}

.profile__list-text {
  display: flex;
  flex-direction: column;
  margin: 10px auto auto 0;
  align-items: flex-start;
}


@media screen and (max-width: 768px) {
  .profile {
    max-width: 768px;
  }

.profile__column_content_social-icons {
  max-width: 100px;
}

.profile__column_social-heading {
  max-width: 80px;
  font-size: 10px;
  line-height: 1;
  color: #fff;
  padding-left: 20px;
}

.profile__column-heading {
  max-width: 100px;
  font-size: 10px;
  line-height: 1;
  color: #fff;
  padding-left: 0;
}

.profile__social-icon {
  width: 20px;
  height: 20px;
  margin: 0 auto;
  background-position: center;
}

.profile__column_content_info {
  max-width: 100px;
  margin: 30px auto;
  padding-left: 0;
}

.profile__column_link {
  font-size: 8px;
  line-height: 1;
  padding-left: 0;
}

.profile__list-text {
  padding-left: 0;
}
.profile__list-item {
  margin: 0 10px auto 0;
  list-style-type: none;
}

}