.subtitle {
    line-height: 19px;
    font-size: 14px;
    margin-top: 35px;
    margin-bottom: 55px;
    max-width: 420px;
    font-weight: normal;
  }

  .subtitle__span-accent {
    line-height: 19px;
    font-size: 14px;
    font-weight: normal;
    color: #f50c0c;
    display: block;
  }